/* Footer */

footer {
    height: 200px;
    padding-top: 100px;
    background: linear-gradient(180deg, #FFC719, #BF033B);
    color:#fff;
    border-top-left-radius: 600px 100px;
    border-top-right-radius: 600px 100px;

    .callaction{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .btn-grey{
        width: 17%;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 48em){
    .callaction{
        flex-direction: column;
    }

    .btn-grey{
        width: 60%!important;
    }

}